{% extends 'layouts/master.html.twig'%}

{% block titulo %} Animales {% endblock %}

{% block cabecera %}
    {{parent()}}
    <h1>Animales</h1>
{% endblock %}

{% block contenido %}
    {# <h1>{{ title }}</h1>
    <p>Nombre: {{ nombre }}  Apellidos: {{apellidos}} </p> #}
    {% set perro = 'Pastor aleman' %}
    <h4>{{ perro }}</h4>

    {# Trabajar con arrays #}
    {{ dump(animales) }}
    {{animales[1]}}

    {# Trabajar con arrays asociativos #}
    {{ dump(aves) }}
    {{ aves.tipo ~ ' - ' ~ aves.raza}}

    {# Bloques condicionales #}
    {% if aves.tipo == 'palomo' %}
        <h2>Hay palomos a la vista</h2>
    {% else %}
        <h2>No hay polomos a la vista</h2>
    {% endif %}

    {# Bucles #}
    {% if animales|length >= 1 %}
        <ul>
            {% for animal in animales %}
                <li>{{animal}}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for i in 0..animales|length %}
        {{i}}
    {% endfor %}


{% endblock %}