{% extends 'layouts/master.html.twig'%}

{% block titulo %} Animales {% endblock %}

{% block cabecera %}
    {{parent()}}
    <h1>Animales</h1>
{% endblock %}

{% block contenido %}
    {# <h1>{{ title }}</h1>
    <p>Nombre: {{ nombre }}  Apellidos: {{apellidos}} </p> #}
    {% set perro = 'Pastor aleman' %}
    <h4>{{ perro }}</h4>
{% endblock %}